<a href="https://colab.research.google.com/github/Wingbean/bootcamp8/blob/main/py/python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Programming 101**

5 concept

- variables
- data types
- data structures
- function
- control flow

In [ ]:
print("hello world")

hello world

In [ ]:
print(1+1)
print(2*2)
print(5-2)
print(6/2)
print(8/5)
print(8//5)
print(round(1.49))
print(round(1.52))
print(3**2)
print(pow(5,2))
print(abs(-5))

2
4
3
3.0
1.6
1
1
2
9
25
5

In [ ]:
# compare value
print(1+1 == 2)
print(1+1 != 2)
print(1+1 >= 2)
print(1+1 <= 2)

True
False
True
True

In [ ]:
# python > R
# deep learning => AI software
# software API

In [ ]:
my_name = "tae"
income = 50000
expense = 36000
saving = income - expense
print(saving)
print(my_name)

14000
tae

In [ ]:
# delete var
del my_name
del saving

In [ ]:
# print string
my_name = "tae"
age = 35
fav_lang = "R"

In [ ]:
# fstring
f"Hi my name is {my_name}, I'm {age} yrs old and my favorite language is {fav_lang}"

"Hi my name is tae, I'm 35 yrs old and my favorite language is R"

In [ ]:
# string + string
# string * 3

text = "blackpink" + " in your area!"
print(text)

blackpink in your area!

In [ ]:
len(text)

23

In [ ]:
# data type
# 1. int
# 2. float
# 3. str
# 4. bool

In [ ]:
x = "Hello I \" man"
print(x, type(x))

Hello I " man <class 'str'>

In [ ]:
print("Hello\tWorld")

Hello	World

In [ ]:
# """
poem = """I love mom
I love dad
and I love U"""

print(poem)

I love mom
I love dad
and I love U

In [ ]:
# convert data type
# int float str bool

x = 1
print(x, type(x))
x = str(x)
x

1 <class 'int'>

'1'

In [ ]:
y = "100"
print(type(y))
y = int(y)
print(type(y))

<class 'str'>
<class 'int'>

In [ ]:
bool(1)

True

In [ ]:
# Get input from user

user_name = input("what is yr name ?")
print("Hi! " + user_name)

user_age = input("How old are you ? ")
print("your age: " + user_age)
print(int(user_age) * 2)

what is yr name ?mk
Hi! mk
How old are you ? 25
your age: 25
50

In [ ]:
user_name = input("what is yr name ?")
user_age = input("How old are you ? ")
user_agei = int(user_age)
print("Hi! " + user_name +  ", your double age is: " + str(user_agei * 2))

what is yr name ?MKDAY
How old are you ? 25
Hi! MKDAY, your double age is: 50

In [ ]:
# type hint

age: int = "20"

print(age, type(age))

20 <class 'str'>

In [ ]:
# Function

def add_two_num(v1,v2) :
    return v1 + v2

result = add_two_num(5,10)
print(result)

15

In [ ]:
def greeting(name = "tae", food = "KFC") :
    return f"Hello! {name}, You fav food is {food}"

greeting(food = "Suki" , name = "MKDAY")

'Hello! MKDAY, You fav food is Suki'

In [ ]:
# function get input from user
def greeting_v2() :
    name = input("What's yr name? ")
    return f"Hello {name}! "

greeting_v2()

What's yr name? MeMo

'Hello MeMo! '

In [ ]:
# function that return multiple value
def demo():
    name1 = input("Pick a name: ")
    name2 = input("Pick A name: ")
    return name1, name2, 100 #tuple

#tuple unpacking
friend1, friend2, _ = demo() # name1 is in friend1, name2 is in friend2
print("friend1: " + friend1)
print("friend2: " + friend2)

Pick a name: mk
Pick A name: memo
friend1: mk
friend2: memo

In [ ]:
# DATA STRUCTURE
# list
# tuple
# dictionary
# set

In [ ]:
## list
shopping_list = ["banana","egg","bread"]
shopping_list

['banana', 'egg', 'bread']

In [ ]:
from re import S
# add new item to list
# use .append

shopping_list.append("noodle")
shopping_list

['banana', 'egg', 'bread', 'noodle']

In [ ]:
shopping_list.append("orange")
shopping_list

['banana', 'egg', 'bread', 'noodle', 'orange']

In [ ]:
# insert use index
shopping_list.insert(0, "grape")
shopping_list

['grape', 'banana', 'egg', 'bread', 'noodle', 'orange']

In [ ]:
# remove value if you know index
shopping_list[0] = "grape"
shopping_list

['grape', 'banana', 'egg', 'bread', 'noodle', 'orange']

In [ ]:
shopping_list.insert(2, "milk")
shopping_list

['grape', 'banana', 'milk', 'egg', 'bread', 'noodle', 'orange']

In [ ]:
# count item in list

len(shopping_list)

7

In [ ]:
shopping_list.pop(1)

'milk'

In [ ]:
shopping_list

['grape', 'milk', 'egg', 'bread']

In [ ]:
# Add two list togethers
item1 = ["banana","grape","orange"]
item2 = ["milk","bread"]

full_list = item1 + item2
print(full_list, len(full_list))

['banana', 'grape', 'orange', 'milk', 'bread'] 5

In [ ]:
# sort element in list
full_list.sort(reverse=True)
full_list

['orange', 'milk', 'grape', 'bread', 'banana']

In [ ]:
# How to use list
item1 = ["banana","orange"]
item2 = item1.copy()

item1[0] = "longan"
print(item1, item2)

['longan', 'orange'] ['banana', 'orange']

In [ ]:
# Tuple() very similar to list
friends = ("toy", "john","mary","mary")
friends

('toy', 'john', 'mary', 'mary')

In [ ]:
friends.index("john")

1

In [ ]:
# Dictionary {}
# key-value pair
def hi():
    return "hi1"

toy = {
    "fname": "Suthisak",
    "lname": "Muanchaona",
    "age": 40,
    "movie_lover": True,
    "education": "Doctor",
    "fav_movie": ["m1","m2","m3"],
    "function": hi,
}

In [ ]:
toy_function = toy["function"]
toy_function()

'hi1'

In [ ]:
# update value in dict
# dict is mutable
toy["school"] = "Cookie"
toy

{'lname': 'Muanchaona',
 'age': 40,
 'movie_lover': True,
 'education': 'Doctor',
 'fav_movie': ['m1', 'm2', 'm3'],
 'function': <function __main__.hi()>,
 'fname': 'Memo',
 'school': 'Cookie'}

In [ ]:
# set {unique set}

fruits = ["apple", "orange", "banana", "banana"]
print(fruits)
type(fruits)

['apple', 'orange', 'banana', 'banana']

list

In [ ]:
set(fruits)
unique_set_fruits = set(fruits)
type(unique_set_fruits)
len(unique_set_fruits)

3